<div fxLayout fxLayoutAlign="center center">
  <div fxFlex fxFlex="none">
    <h2 mat-dialog-title>Recuperação de conta</h2>

    <mat-dialog-content>
      <form [formGroup]="formRecovery" fxLayout="row">
        <mat-form-field fxFlex fxFlex="100">
          <input formControlName="email" matInput placeholder="Seu email" />
        </mat-form-field>
      </form>
    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="stretch">
      <button mat-button (click)="close()">Cancelar</button>
      <div fxFlex fxFlex="auto"></div>
      <button [disabled]="!formRecovery.valid" mat-button (click)="save()">
        Recuperar
      </button>
    </mat-dialog-actions>
  </div>
</div>
